<div class="container-fluid">
    <script src="http://d3js.org/d3.v2.js"></script>

    <h1>Time Series Graph</h1>

    <form ng-submit="fetchTimeseries()">
        <p>Type:
        <select ng-model="type" ng-options="t.id as t.name for t in
            choices.types" required></select>
        </p>
        <p>Start date:
        <select ng-model="start_date" ng-options="date for date in
            choices.dates" required></select>
        </select> 
        </p>
        <p>End date:
        <select ng-model="end_date" ng-options="date for date in
            choices.dates" required></select>
        </select> 
        </p>
        <input type="submit" value="get data"></input>
    </form>

    <p class="error">{{error}}</p>

    <table class="select-ts">
        <tr>
            <th></th>
            <th>Timeseries</th>
            <th>min</th>
            <th>max</th>
            <th>mean</th>
        </tr>
        <tr ng-repeat="column in data._keys">
            <td> <input type="checkbox" ng-model="column.selected" ng-click="updateSelection(column.name, column.selected)"/> </td>
            <td>{{column.name}}</td>
            <td>{{column.min}}</td>
            <td>{{column.max}}</td>
            <td>{{column.mean}}</td>
        </tr>
    </table>

    <gh-visualization val="data"></gh-visualization>
</div>
